tgs
compiled/*
games/ahorcado/ahorcado
games/CCP/ccp
games/Flip/flip
games/Maze/maze
games/Menu/menu
games/NIM/nim
games/permuter/permuter
games/Press_the_key/press_the_key
games/permuter/score_tiempo.txt
